.main_header_m{
    display: none !important;
}

.main_header_l{
    display: none !important;
}

.main_header_r{
    display: none !important;
}

#panCloseHeader{
    display: none !important;
}

.top_menu_wrapper{
    margin-top: 2% !important;
}

#sideBarMenu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    min-width: 5%;
    width: auto;
    height: auto;
    z-index: 9999;
}

.sideBarButton{
    margin-top: 3%;
    width: 4.6vh;
    cursor: pointer;
    height: auto;
}


.top_logout{
    display: flex;
    align-items: center;
    padding-top: 0;
    text-align: none;
    float: none;
}
#mainPageHeader{
    padding: 0 2em 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}