.top_logout{
    display: flex;
    align-items: center;
}

#divLang{
    margin-right: 1% ;
}


#upTraining > label{
    display: none;
}

.langchooserimgexpanded {
    display: inline-flex !important;
    flex-direction: row ;
    flex-wrap: nowrap ;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.top_training{
    width: 40% !important;
    min-width: 300px;
}